@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


*{
  font-family: 'Nunito', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-weight: 600;
}

p {
  font-weight: 400;
}




/* Header */

.custom-navbar {
  padding: 10px 30px;
  border-bottom: 1px solid #222;
  font-weight: 400;
  margin-bottom: 20px;
}



.menu-thin .nav-link {
  color: #bfbfbf ;
  font-size: 13px;
  margin-left: 20px;
  padding-bottom: 2px;
  text-transform: uppercase;
  transition: color .25s ease, text-decoration-color .25s ease;
}


.menu-thin .nav-link:hover,
.menu-thin .nav-link.active {
  color: #fff ;
  text-decoration: underline;
  font-weight: 600;
  
}



/*services*/

.card {
  transition: all 0.3s ease;
  border: 1px solid #ddd;
  cursor: pointer;
}


.card:hover {
  background-color: #efefef; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  transform: translateY(-3px); 
}


.btn-primary {
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #4a9efc;
  cursor: pointer;
}



/*Portfolio*/

.card-fresh:hover {
  background-color: #0dcaf0;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-restaurant:hover {
  background-color: #adb5bd;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-espace:hover {
  background-color: #d63384;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-seo:hover {
  background-color: #fd7e14;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-api:hover {
  background-color: #dc3545;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-maquette:hover {
  background-color: #198754;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}



/*Contact*/

.contact-hero {
  background-color: #f8f9fa;
}

.contact-divider {
  width: 120px;
  height: 3px;
  background-color: #0d6efd; 
}


.contact-section-title {
  border-bottom: 2px solid #0d6efd;
  padding-bottom: 8px;
}


.contact-btn {
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.contact-btn:hover {
  background-color: #0b5ed7;
  transform: scale(1.03);
}




/*Mentions Légales*/

.divider {
  width: 120px;
  height: 3px;
  background-color: #0d6efd;
}


.accordion {
  border-radius: 10px;
  overflow: hidden;
}


.accordion-button {
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #e7f1ff;
  color: #0d6efd;
  font-weight: 500;
}




/*Footer*/


footer a {
  color: #fff; 
  text-decoration: none;
  transition: all 0.3s ease; 
}


footer a:hover {
  color: #ffffff;
  font-weight: 600; 
}


.social-link {
  color: #ffffff;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.social-link:hover {
  color: #0d6efd; /* bleu Bootstrap au survol */
  transform: scale(1.1);
}


